{% extends "base.html.twig" %}

{% block title %}
    Page non trouvée.
{% endblock %}

{% block body %}
    <div class="container bg-primary">
        <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
        <p>On a surement du mal vous renseigner !</p>
        <a href="{{ path('homepage') }}" class="btn btn-secondary mb-3">Retour à l'accueil.</a>
    </div>
{% endblock %}
